{% extends "base.html.twig" %}

{% block title %} SymfonyApp - Accueil {% endblock %}

{% block body %}
  <div class="container mt-4">
    <div class="jumbotron">
      <h1 class="display-4">Bienvenue sur SymfonyApp</h1>
      <p class="lead">Ceci est un test technique pour être accepter par l'entreprise Unidéc.</p>
      <hr class="my-4">
      <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
    </div>
  </div>
{% endblock %}


